/* Main Styles */
body {
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 900;
  background-color: #3d7dca;
}

/* Header Section */
.navbar {
  background-color: #ffcb05;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: relative;
}

.logo {
  height: 40px;
  width: 40px;
}

#main-nav {
  display: flex;
  flex-direction: row;
  gap: 20px;
  list-style-type: none;
}

.navigation {
  text-decoration: none;
  color: #003a70;
}

.navigation:hover {
  text-decoration: underline;
  color: #3d7dca;
}

/* Scroll Button */
#scroll-to-top-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  font-size: 16px;
  outline: none;
  background-color: #ffcb05;
  color: #003a70;
  cursor: pointer;
  padding: 8px;
  border: 5px solid #003a70;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

#scroll-to-top-btn:hover {
  background-color: #3d7dca;
}

/* Pokemon Cards Section */
#item-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}

.pokemon-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(33.33% - 20px);
  margin: 10px;
  background-color: #ffcb05;
  border: 5px solid #003a70;
  border-radius: 8px;
  box-sizing: border-box;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
}

.name {
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  color: #003a70;
}

.number {
  font-weight: bold;
  text-align: center;
}

.like-btn {
  font-weight: 900;
  color: #3d7dca;
  margin: 15px;
  cursor: pointer;
}

.like-btn:hover {
  color: #003a70;
}

.like-btn:active {
  color: rgb(254, 55, 55);
}

.comments-btn,
.reservations-btn {
  font-weight: 900;
  margin-bottom: 10px;
  width: calc(75% + 25px);
  background-color: #3d7dca;
  color: #003a70;
  border: none;
  border-radius: 8px;
  padding: 8px;
  cursor: pointer;
}

.comments-btn:hover,
.reservations-btn:hover {
  background-color: #3d7dca;
  color: #ffcb05;
}

.comments-btn:active,
.reservations-btn:active {
  background-color: #003a70;
}

/* Footer Section */
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  background-color: #ffcb05;
  color: #003a70;
  padding: 20px;
  margin-top: 50px;
}
